* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    margin: 0 auto;
}





.header {
    width: 100%;
    background-image: url("./assets/img/header-bg.jpg");
    background-size: cover;
    background-position: center;
}
.header > .container {
    width: 100%;
}
.header-top {
    position: sticky;
    top: 0;
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 12px;
    img {
        height: 1.5rem;
    }
    button {
        font-size: 0.75rem;
        font-weight: 1000;
        color: gray;
        padding: 0.75rem 0.9rem;
        display: flex;
        align-items: center;
        background-color: transparent;
        border-radius: 0.375rem;
        border: 1px solid rgb(255, 255, 255, 0.1);
        img {
            fill: gray;
            margin-left: 0.5rem;
            height: 1em;
        }
    }
    .header-top__right > ul {
        display: none;
    }
}
.header-bottom {
    padding: 10.5rem 0 6rem;
    color: #fff;
    text-align: center;
    .subheading {
        font-size: 2.25rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }
    .subhead {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }
    button {
        padding: 1.25rem 2.5rem;
        font-family: "Montserrat", "Segoe UI", sans-serif;
        font-size: 1.125rem;
        font-weight: 700;
        background-color: #ffc800;
        color: #fff;
        border: 1px solid #ffc800;
        border-radius: 0.375rem;
    }
}







.services {
    width: 100%;
}
.services > .container {
    padding: 6rem 1rem;
    width: 100%;
    text-align: center;
    .text {
        font-weight: bolder;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .subtext,
    p {
        color: gray;
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
            "Noto Color Emoji";
        margin-bottom: 4rem;
    }
}
.service-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    .item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        .img {
            width: 128px;
            height: 128px;
            background-color: #ffc800;
            padding: 1.5rem;
            border-radius: 50%;
            img {
                width: 100%;
                height: 100%;
            }
        }

        h4 {
            font-size: 1.75rem;
        }

        p {
            font-style: normal;
        }
    }
}







.portfolio {
    width: 100%;
    background-color: rgb(248, 249, 250);
}
.portfolio > .container {
    background-color: rgb(248, 249, 250);
    padding: 6rem 1rem;
    width: 100%;
    text-align: center;
    .text {
        font-weight: bolder;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .subtext,
    p {
        color: gray;
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
            "Noto Color Emoji";
    }
    &>p{margin-bottom: 4rem;}
}
.portfolio-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;

    .block {
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

        background-color: #fff;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 4rem;
        .img {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        h4 {
            padding: 1.5rem 1.5rem 0;
            font-size: 1.75rem;
        }
        p {
            padding: 0 1.5rem 1.5rem;
        }
    }
}







.about {
    width: 100%;
    background-color: rgb(173, 173, 173);
}
.about > .container {
    padding: 6rem 1rem;
    width: 100%;
    text-align: center;
    .text {
        font-weight: bolder;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .subtext,
    & > p {
        color: gray;
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
            "Noto Color Emoji";
        margin-bottom: 4rem;
    }
}
.about-blocks {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .block {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4rem;
        text-align: left;
        .block-texts {
            padding: 0 20px 0 100px;
            width: fit-content;
            display: flex;
            flex-direction: column;
            p {
                color: gray;
                line-height: 1.75;
                font-size: 1rem;
                font-weight: 400;
                font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont,
                    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
                    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
                    "Noto Color Emoji";
            }
        }
        .img {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            border-radius: 50%;
            overflow: hidden;
            border: 7px solid #e9ecef;
            img {
                width: 100%;
                height: 100%;
            }
        }
        h4 {
            font-size: 1.75rem;
        }
    }
    .block5 {
        .img {
            background-color: #ffc800;
            text-align: center;
            font-size: 10px;
            color: #fff;
            line-height: 14px;
            font-weight: 700;
            height: 80px;
        }
    }
}
.about-blocks::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    content: "";
    background-color: #e9ecef;
}







.team {
    width: 100%;
    background-color: rgb(248, 249, 250);
}
.team > .container {
    background-colorrgb(248, 249, 250);
    padding: 6rem 1rem;
    width: 100%;
    text-align: center;
    .text {
        font-weight: bolder;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .subtext,
    p {
        color: gray;
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
            "Noto Color Emoji";
    }
    &>p{margin:0 auto 4rem;}
}
.team-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    .block {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 4rem;
        &>.img {
            width: 224px;
            height: 224px;
            border-radius: 50%;
            border: 0.5rem solid rgba(0, 0, 0, 0.1);
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .social{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .social-item{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 12px;
                margin: 0 0.5rem;
                background-color: black;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        h4 {
            margin-top: 24px;
            font-size: 1.75rem;
        }

        p {
            font-style: normal;
            margin-bottom: 1.5rem;
        }
    }
}









@media (min-width: 576px) {
    .portfolio-blocks {
        flex-wrap: wrap;
        flex-direction: row;
        .block {
            width: 246px;
            margin-bottom: 0;
        }
    }
}

@media (min-width: 768px) {
    .header > .container {
        width: 100% !important;
    }
    .container {
        width: 90%;
    }
    .service-items {
        justify-content: center !important;
        flex-direction: row;
        .item {
            width: 33%;
            padding: 0 12px;
        }
    }

    .portfolio-blocks {
        .block {
            width: 48% !important;

        }
    }
    .about-blocks {
        align-items: start;

        .block {
            flex-direction: row-reverse;
            justify-self: center !important;
            align-items: flex-start;
            width: 50% !important;
            text-align: right;
            margin-bottom: 100px;
            .block-texts {
                float: left;
                padding: 0 60px 20px 30px !important;
            }
            .img {
                position: absolute;
                transform: translateX(50px);
                width: 100px !important;
            }
        }
        .block5{
            .img{
                height: 100px;
            }
        }
        .block2,.block4{
            margin-left: 50%;
            flex-direction: row;
            text-align: left;
            .block-texts {
                padding: 0 30px 20px 60px !important;
            }
            .img {
                transform: translateX(-50px);
            }
        }
    }
    .about-blocks::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 2px;
        content: "";
        background-color: #e9ecef;
    }



    .team>.container>#footp{
        max-width: 600px ;
    }
}

@media (min-width: 992px) {
    .container {
        width: 100% !important;
    }
    .header {
        height: 100vh;
    }
    .header-top {
        padding-left: 0 13px;
    }
    .header-top > button {
        display: none;
    }
    .header-top__right > ul {
        display: flex !important;
        list-style: none;
        li {
            font-family: "Montserrat", -apple-system, BlinkMacSystemFont,
                "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
                "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
                "Noto Color Emoji";
            font-weight: 500;
            padding: 1rem;
            font-size: 15px;
            letter-spacing: 0.0625em;
            color: #fff;
        }
    }
    .services > .container ,.portfolio > .container ,.team>.container{
        max-width: 992px !important;
    }
    .service-items {
        flex-direction: row;
        justify-content: center !important;
        .item {
            width: 33%;
            padding: 0 12px;
        }
    }
    .portfolio-blocks{ 
        .block {
            width: 30% !important;
        }
    }
    .about-blocks {
        align-items: start;
        .block {
            flex-direction: row-reverse;
            justify-self: center !important;
            align-items: flex-start;
            width: 50% !important;
            text-align: right;
            margin-bottom: 100px;
            .block-texts {
                float: left;
                padding: 0 90px 20px 30px !important;
            }
            .img {
                position: absolute;
                transform: translateX(68px);
                width: 136px !important;
            }
        }
        .block5{
            .img{
                height: 136px;
            }
        }
        .block2,.block4{
            margin-left: 50%;
            flex-direction: row;
            text-align: left;
            .block-texts {
                padding: 0 30px 20px 90px !important;
            }
            .img {
                transform: translateX(-68px);
            }
        }
    }
}
